<!DOCTYPE HTML>
<html>
<head>
    <title>네일 올래?</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link rel="shortcut icon" href="../images/nailollae.png"/>
    <!-- menu 불러오기-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu").load("/common/menu");
        })
    </script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $.noConflict();
        jQuery(document).ready(function ($) {
            $( "#datepicker" ).datepicker({
                inline: true,
                showOtherMonths: true,
                showMonthAfterYear: true,
                monthNames: ['01','02','03','04','05','06','07','08','09','10','11','12'],
                dayNamesMin: ['일','월','화','수','목','금','토'],
                dateFormat: "yy-mm-dd"
            });

            $('#datepicker').change(function (){
                let date = $('#datepicker').val();
                let pageUrl = window.location.pathname;
                console.log("date:", date, pageUrl);
                if(date !== null){
                    // 날짜 url로 변경
                    window.location.replace(pageUrl + "?date=" + date);
                    console.log("date1:", date, pageUrl);
                }
            });
        })
        // 예약하기 버튼
        function checkReserve() {
            let pageUrl = window.location.search;
            let date = pageUrl.split('=')[1];

            alert("날짜: "+ date + "\n예약을 하시겠습니까?");
        }

        //selected 값 선택
        function onChange() {
            let option = document.getElementById("category");
            let option2 = option.options[document.getElementById("category").selectedIndex].value;
            console.log("option2:", option2);
        }

        //Table
        jQuery(document).ready(function(){
            $('#reserve').find('td').each(function(i, el) {
                let inputEl = $(el).children().get(0);
                console.log("inputEl:", inputEl, $(inputEl).attr('id'));
                $(el).before();
            })
        });
    </script>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="/" class="logo"><strong>Nail</strong> Ollae?</a>
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
            </header>

            <!-- Content -->
            <section>
                <header class="main">
                    <h1>Reservation</h1>
                </header>

                <!-- Content -->
                <h2 id="content">네일 예약</h2>
                <p><b>네일올래?</b>를 방문해 주신 고객님들의 예약 페이지 입니다. <br/>
                    날짜 선택 후, 원하시는 시간대에 예약 해주시면 됩니다!🧸</p>
                <hr class="major" />

                <!-- Elements -->
                <div class="row gtr-200">
                    <div class="col-12 col-12-medium">
                        <!-- Table -->
                        <h4>Reservation</h4>
                        <div class="table-wrapper">
                            <table id="reserve">
                                <thead>
                                <tr>
                                    <th>날짜</th>
                                    <th>시간</th>
                                    <th>시술</th>
                                    <th>예약</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="text" id="datepicker" placeholder="날짜를 선택해 주세요">
                                    </td>
                                    <td>
                                        <select name="time" id="time" onchange="onChange();">
                                            <option value="">- 시간 선택 -</option>
                                            <option value="10">10:00</option>
                                            <option value="11">11:00</option>
                                            <option value="12">12:00</option>
                                            <option value="13">13:00</option>
                                            <option value="14">14:00</option>
                                            <option value="15">15:00</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="category" id="category" onchange="onChange();">
                                            <option value="">- 시술 선택 -</option>
                                            <option value="이달의 아트">이달의 아트</option>
                                            <option value="젤네일">젤네일</option>
                                            <option value="젤패디">젤패디</option>
                                            <option value="속눈썹 연장">속눈썹 연장</option>
                                        </select>
                                    </td>
                                    <td><button id="btnReserve" onclick="checkReserve()">예약 하기</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Menu -->
    <div id="menu"></div>
</div>

<!-- Scripts -->
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/browser.min.js"></script>
<script src="../javascripts/breakpoints.min.js"></script>
<script src="../javascripts/util.js"></script>
<script src="../javascripts/main.js"></script>

</body>
</html>