<!DOCTYPE HTML>
<html>
<head>
    <title>네일 올래?</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link rel="shortcut icon" href="../images/nailollae.png"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- menu 불러오기-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu").load("/common/menu");
        })

        $(document).ready(function () {
            $("#commonHeader").load("/common/header");
        })

        // Table 데이터 가져오기
        $(document).ready(() => {
            $.ajax({
                url: "http://localhost:3000/review/list/data",
                method: "GET",
                success: (response) => {
                    console.log("res:", response.data.length);
                    if(response.data.length > 0){
                        for(let index=0; index < response.data.length; index++){
                            let newRow = $("<tr>");
                            let cols = "";
                            cols += '<td>' + response.data[index].id + '</td>';
                            cols += '<td>' + response.data[index].title + '</td>';
                            cols += '<td>' + response.data[index].name + '</td>';
                            cols += '<td>' + response.data[index].date.split('T')[0] + '</td>';
                            newRow.append(cols);
                            $("#reviewList .tbody").append(newRow);


                            $("#reviewList tr").click(function () {
                                let tdArr = new Array();
                                let tr = $(this);
                                let td = tr.children();

                                td.each(function (i) {
                                    tdArr.push(td.eq(i).text());
                                })
                                console.log("id:", tdArr[0]);
                                let rowId = tdArr[0];

                                window.location.href="http://localhost:3000/review/view/id=" + rowId;
                            })
                        }
                    }else if(response.data.length === 0){
                        let newRow = $("<tr>");
                        let cols = "";
                        cols += '<td> </td>';
                        cols += '<td> </td>';
                        cols += '<td>등록된 후기가 없습니다.</td>';
                        cols += '<td> </td>';
                        newRow.append(cols);
                        $("#reviewList .tbody").append(newRow);
                    }
                }
            })
        })
    </script>
</head>

<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <div id="commonHeader"></div>

            <!-- Content -->
            <section>
                <header class="main">
                    <h1>Review</h1>
                </header>

                <!-- Content -->
                <h2 id="content">후기 작성</h2>
                <p><b>네일올래?</b>를 방문해 주신 고객님들의 소중한 후기를 작성해 주시면 됩니다. <br/>
                    <u>좋아요와 댓글</u>이 많은 후기를 작성해 주시면, 이달의 후기를 선정하여 소정의 적립금을 선물로 드립니다!🎁</p>
                <hr class="major" />
                <a href="/review/write" class="button primary" style="float: right">작성하기</a>

                <br/><br/><br/>

                <!-- Elements -->
                <div class="row gtr-200">
                    <div class="col-12 col-12-medium">
                        <!-- Table -->
                        <h4>Review</h4>
                        <div class="table-wrapper">
                            <table id="reviewList">
                                <thead>
                                <tr>
                                    <th>순서</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                </tr>
                                </thead>
                                <tbody class="tbody" id="tbody">
                                </tbody>
                            </table>
                        </div>

                        <!-- TODO 페이징 처리 필요 -->
                        <ul class="pagination">
                            <li><span class="button disabled">Prev</span></li>
                            <li><a href="#" class="page active">1</a></li>
                            <li><a href="#" class="page">2</a></li>
                            <li><a href="#" class="page">3</a></li>
                            <li><span>&hellip;</span></li>
                            <li><a href="#" class="page">8</a></li>
                            <li><a href="#" class="page">9</a></li>
                            <li><a href="#" class="page">10</a></li>
                            <li><a href="#" class="button">Next</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Menu -->
    <div id="menu"></div>
</div>

<!-- Scripts -->
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/browser.min.js"></script>
<script src="../javascripts/breakpoints.min.js"></script>
<script src="../javascripts/util.js"></script>
<script src="../javascripts/main.js"></script>

</body>
</html>