<!DOCTYPE HTML>
<html>
<head>
    <title>네일 올래?</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link rel="shortcut icon" href="../images/nailollae.png"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- menu 불러오기-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu").load("/common/menu");
        })
    </script>
</head>

<script>
    //TODO entries 받아 와서 테이블 출력
    let entries = [];
    let str = '<ul>';

    entries.forEach(function (slide) {
        str += '<li>' + slide + '</li>';
    });
</script>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="/" class="logo"><strong>Nail</strong> Ollae?</a>
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
            </header>

            <!-- Content -->
            <section>
                <header class="main">
                    <h1>Review</h1>
                </header>

                <!-- Content -->
                <h2 id="content">후기 작성</h2>
                <p><b>네일올래?</b>를 방문해 주신 고객님들의 소중한 후기를 작성해 주시면 됩니다. <br/>
                    <u>좋아요와 댓글</u>이 많은 후기를 작성해 주시면, 이달의 후기를 선정하여 소정의 적립금을 선물로 드립니다!🎁</p>
                <hr class="major" />

                <a href="/review/write" class="button primary" style="float: right">작성하기</a>

                <br/><br/><br/>

                <!-- Elements -->
                <div class="row gtr-200">
                    <div class="col-12 col-12-medium">
                        <!-- Table -->
                        <h4>Review</h4>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr>
                                    <th>제목</th>
                                    <th>내용</th>
                                    <th>작성자</th>
                                    <th>날짜</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Item1</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>29.99</td>
                                    <td>2020/12/11</td>
                                </tr>
                                <tr>
                                    <td>Item2</td>
                                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                    <td>19.99</td>
                                    <td>2020/12/11</td>
                                </tr>
                                <tr>
                                    <td>Item3</td>
                                    <td> Morbi faucibus arcu accumsan lorem.</td>
                                    <td>29.99</td>
                                    <td>2020/12/11</td>
                                </tr>
                                <tr>
                                    <td>Item4</td>
                                    <td>Vitae integer tempus condimentum.</td>
                                    <td>19.99</td>
                                    <td>2020/12/11</td>
                                </tr>
                                <tr>
                                    <td>Item5</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>29.99</td>
                                    <td>2020/12/11</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <ul class="pagination">
                            <li><span class="button disabled">Prev</span></li>
                            <li><a href="#" class="page active">1</a></li>
                            <li><a href="#" class="page">2</a></li>
                            <li><a href="#" class="page">3</a></li>
                            <li><span>&hellip;</span></li>
                            <li><a href="#" class="page">8</a></li>
                            <li><a href="#" class="page">9</a></li>
                            <li><a href="#" class="page">10</a></li>
                            <li><a href="#" class="button">Next</a></li>
                        </ul>
                    </div>
                </div>

            </section>

        </div>
    </div>

    <!-- Menu -->
    <div id="menu"></div>
</div>

<!-- Scripts -->
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/browser.min.js"></script>
<script src="../javascripts/breakpoints.min.js"></script>
<script src="../javascripts/util.js"></script>
<script src="../javascripts/main.js"></script>

</body>
</html>