<!DOCTYPE HTML>
<html>
<head>
    <title>네일 올래?</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../stylesheets/main.css"/>
    <link rel="shortcut icon" href="../../images/nailollae.png"/>
    <!-- menu 불러오기-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu").load("/common/menu");
        })

        $(document).ready(function () {
            $("#commonHeader").load("/common/header");
        })
    </script>
</head>

<script>
    function checkModify() {
        // TODO 로그인 체크
        if (window.confirm("게시글을 수정 하시겠습니까?")) {
            $.ajax({
                url: "review/write",
                type: 'POST',
                dataType: 'json'
            })
        } else {
            // TODO 게시글 저장 하지 않고 리스트로 이동
            window.location.href = "/review/list"
        }
    }

    // DB 내용 조회
    $(document).ready(() => {
        console.log("req.params:" + window.location.pathname.split('/')[3].split('=')[1]);
        let rowId = window.location.pathname.split('/')[3].split('=')[1];

        $.ajax({
            url: "/review/data/id=" + rowId,
            method: "GET",
            success: (response) => {
                console.log("res:", response.data[0]);
                let likeBtn = "";
                let messageText = "";
                let dateText = "";
                let nameText = "";
                let imageText = "";
                let categoryText = "";

                let date = response.data[0].date.split('T')[0];
                let name = response.data[0].name;
                let like = response.data[0].likeCnt;
                let message = response.data[0].message;
                let image = response.data[0].image;
                let category = response.data[0].category;

                dateText += '<input type="text" value="[작성일] ' + date + ' " readonly>';
                nameText += '<input type="text" value="[작성자] ' + name + ' " readonly>';
                categoryText += '<input type="text" value="[카테고리] ' + category + ' " readonly>';
                likeBtn += '<input type="button" id="like" value="❤️ 좋아요: ' + like + ' 개" onclick="addLike()">';
                // TODO 이미지 조회
                imageText += '<textarea name="message" class="picture" rows="6" readonly>' + image + '</textarea>';
                messageText += '<textarea name="message" class="message" rows="6" readonly>' + message + '</textarea>';

                $(".date").append(dateText);
                $(".name").append(nameText);
                $(".category").append(categoryText);
                $(".picture").append(imageText);
                $(".message").append(messageText);
                $(".like").append(likeBtn);
            }
        })
    })

    // TODO 좋아요 기능 추가
    function addLike() {
        let rowId = window.location.pathname.split('/')[3].split('=')[1];

        $(document).ready(() => {
            $.ajax({
                url: "/review/" + rowId + "/like",
                method: "POST",
                success: (response) => {
                    console.log("response::", response, rowId);
                    $.ajax({
                        url: "/review/data/id=" + rowId,
                        method: "GET",
                        success: (response) => {
                            let like = response.data[0].likeCnt;
                            var elem = document.getElementById("like");
                            console.log("ele:", elem);

                            // TODO 버튼 한번 더 클릭시 싫어요 기능 구현, null 말고 다른 조건 필요
                            if (elem.value !== null) {
                                elem.value = ('❤️ 좋아요: ' + like + " 개");
                            }
                        }
                    })
                }
            })
        });
    }
</script>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <div id="commonHeader"></div>
            <!-- Content -->
            <section>
                <header class="main">
                    <h1>Review</h1>
                </header>

                <!-- Content -->
                <h2 id="content">후기</h2>
                <p><b>네일올래?</b>를 방문해 주신 고객님들의 소중한 후기 입니다. <br/>
                    <u>좋아요와 댓글</u>이 많은 후기를 작성해 주시면, 이달의 후기를 선정하여 소정의 적립금을 선물로 드립니다!🎁</p>
                <hr class="major"/>

                <!-- Elements -->
                <div class="row gtr-200">
                    <div class="col-12 col-12-medium">

                        <!-- Form -->
                        <h3>Form</h3>
                        <form method="post" action="#">
                            <div class="row gtr-uniform">
                                <div class="col-4 col-12-xsmall">
                                    <!--작성 날짜-->
                                    <div class="date"></div>
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <!--작성자-->
                                    <div class="name"></div>
                                </div>

                                <!-- 카테고리 선택 -->
                                <div class="col-4 col-12-xsmall">
                                    <div class="category"></div>
                                </div>

                                <!-- 평점 -->
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                                    <label for="demo-priority-low">⭐</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="demo-priority-normal" name="demo-priority">
                                    <label for="demo-priority-normal">⭐⭐⭐</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="demo-priority-high" name="demo-priority">
                                    <label for="demo-priority-high">⭐⭐⭐⭐⭐</label>
                                </div>

                                <div class="col-12">
                                    <div type="textarea" class="picture"></div>
                                </div>

                                <!-- Break -->
                                <div class="col-12">
                                    <div type="textarea" class="message"></div>
                                </div>
                                <!-- Break -->
                                <div class="col-12">
                                    <ul class="actions">
                                        <!--좋아요 버튼-->
                                        <div type="button" class="like"></div>
                                        <li><input type="submit" value="Modify" onclick="checkModify()" class="primary"
                                                   style="float: right"/></li>
                                        <li><input type="reset" value="List" onclick="location.href='/review/list'"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Menu -->
    <div id="menu"></div>
</div>

<!-- Scripts -->
<script src="../../javascripts/jquery.min.js"></script>
<script src="../../javascripts/browser.min.js"></script>
<script src="../../javascripts/breakpoints.min.js"></script>
<script src="../../javascripts/util.js"></script>
<script src="../../javascripts/main.js"></script>

</body>
</html>