<!DOCTYPE HTML>
<html>
<head>
    <title>네일 올래?</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link rel="shortcut icon" href="../images/nailollae.png"/>
    <!-- menu 불러오기-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu").load("/common/menu");
        })

        $(document).ready(function () {
            $("#commonHeader").load("/common/header");
        })
    </script>
</head>

<script>
    function checkSave() {
        if(window.confirm("게시글을 저장 하시겠습니까?")){
            $.ajax({
                url: "review/write",
                type: 'POST',
                dataType: 'json'
            })
        }else{
            // TODO 게시글 저장 하지 않고 리스트로 이동
            window.location.href="/review/list"
        }
    }
</script>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <div id="commonHeader"></div>
            <!-- Content -->
            <section>
                <header class="main">
                    <h1>Review</h1>
                </header>

                <!-- Content -->
                <h2 id="content">후기 작성 페이지</h2>
                <p><b>네일올래?</b>를 방문해 주신 고객님들의 소중한 후기를 작성해 주시면 됩니다. <br/>
                    <u>좋아요와 댓글</u>이 많은 후기를 작성해 주시면, 이달의 후기를 선정하여 소정의 적립금을 선물로 드립니다!🎁</p>
                <hr class="major" />

                <!-- Elements -->
                <div class="row gtr-200">
                    <div class="col-12 col-12-medium">

                        <!-- Form -->
                        <h3>Form</h3>

                        <form method="post" action="#">
                            <div class="row gtr-uniform">
                                <div class="col-6 col-12-xsmall">
                                    <input type="text" name="title" id="title" value="" placeholder="Title" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="email" name="name" id="name" value="" placeholder="Name" />
                                </div>
                                <!-- 카테고리 선택 -->
                                <div class="col-12">
                                    <select name="demo-category" id="category">
                                        <option value="">- Category -</option>
                                        <option value="1">이달의 아트</option>
                                        <option value="2">젤네일</option>
                                        <option value="3">젤 패디</option>
                                        <option value="4">속눈썹 연장</option>
                                        <option value="5">기타</option>
                                    </select>
                                </div>
                                <!-- 평점 -->
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                                    <label for="demo-priority-low">⭐</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="demo-priority-normal" name="demo-priority">
                                    <label for="demo-priority-normal">⭐⭐⭐</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="demo-priority-high" name="demo-priority">
                                    <label for="demo-priority-high">⭐⭐⭐⭐⭐</label>
                                </div>

                                <!-- Break -->
                                <div class="col-12">
                                    <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
                                </div>
                                <!-- Break -->
                                <div class="col-12">
                                    <ul class="actions">
                                        <!-- TODO 수정 필요 -->
                                        <li><input type="submit" value="Save" onclick="checkSave()" class="primary"/></li>
                                        <li><input type="reset" value="Cancel" onclick="location.href='/review/list'"/></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Menu -->
    <div id="menu"></div>
</div>

<!-- Scripts -->
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/browser.min.js"></script>
<script src="../javascripts/breakpoints.min.js"></script>
<script src="../javascripts/util.js"></script>
<script src="../javascripts/main.js"></script>

</body>
</html>