<!DOCTYPE HTML>
<html>
	<head>
		<title>네일 올래?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="stylesheets/main.css" />
		<link rel="shortcut icon" href="images/nailollae.png"/>
		<!-- menu 불러오기-->
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$("#menu").load("/common/menu");
			})
		</script>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>Nail</strong> Ollae?</a>
									<ul class="icons">
										<li><a href="/login" class="button primary" >로그인</a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>안녕 하세요!<br />
											네일 올래? 입니다.</h1>
											<p>이달의 네일아트 사진 입니다.</p>
										</header>
										<p>예약을 원하시는 분들은 아래 예약 하기 버튼을 눌러서 예약을 진행해 주세요. <br />
										<h4>List</h4>
											<li>기본 젤 네일 &emsp;&emsp; 20,000원</li>
											<li>이달의 아트 &emsp;&emsp;&nbsp; 40,000원</li>
											<li>젤 패디 &emsp;&emsp;&emsp;&emsp; 40,000원</li>
											<li>속눈썹 펌 &emsp;&emsp;&emsp; 30,000원</li>
										 </p>
										<ul class="actions">
											<li><a href="/reservation" class="button big">예약하기</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/art.png" alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>네일올래 혜택</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-gem"></span>
											<div class="content">
												<h3>이달의 아트</h3>
												<p>이달의 아트로 예약 하시면 예쁜 디자인을 합리적이고 저렴한 가격으로 시술 해 드립니다! 지난 달 아트도 다시 보자!</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-paper-plane"></span>
											<div class="content">
												<h3>적립금</h3>
												<p>적립금 찬스로 젤 제거 시 무료로 시술해 드립니다. 단, 카드/현금 결제 시에는 요금이 부과 됩니다.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-rocket"></span>
											<div class="content">
												<h3>이달의 후기</h3>
												<p>네일/패디/속눈썹 후기 게시판에 좋아요와 댓글 수가 많은 후기를 선정하여 이달의 후기로 뽑히신 분들 에게는 소정의 적립금을 추가로 지급해 드립니다. 예쁜 후기 많이 많이 작성해 주세요!</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-signal"></span>
											<div class="content">
												<h3>접근성</h3>
												<p>지하철 역에서 단 3분 거리! 멀리서 오시는 고객님들도 가까운 거리로 쉽게 찾아오실 수 있습니다. 언제 든지 문의 주세요!</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>시술 후기</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
											<h3>s0813se 님</h3>
											<p>8월 이달의 아트 예약 했는데, 너무 예쁘게 잘 해주셨어요. 지속력도 좋고 너무 예뻐용 감사합니다! </p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
											<h3>코카콜라 님</h3>
											<p>친절하게 잘 해주셔서 너무 좋았어요 다음에 또 하러 갈거예요 >_<</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
											<h3>삼성전자 님</h3>
											<p>수락에서 제일 예쁜 네일 아트 샵 같아요! 너무 예뻐서 매달 가고 있습니당 다음엔 친구랑 같이 갈거예요 @_@</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3>네일갈래? 님</h3>
											<p>최고! 최고! 여기 너무 좋아요! 갈때마다 친구들이 예쁘다고 해서 영업하고 있어요 모두 여기가서 네일 아트 받으세요!!!!</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3>니가가라하와이 님</h3>
											<p>코로나가 심한 이 시국에 여행은 못가지만 네일아트라도 받으면서 기분전환 하고 있어요. 너무 예쁘고 좋네요. 다음에는 어머니랑 같이 갈꺼예요!</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic10.jpg" alt="" /></a>
											<h3>크리스마스 님</h3>
											<p>이번에 크리스마스 겸 연말네일 아트 받았는데 너무 예쁘고 만족도 짱이예요!! 이제 2주 다되어 가는데 지속력도 좋고 너무 예뻐서 맨날 손톱만 쳐다봐요...하...빨리 다음달에도 받으러 가고싶어욥...</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
									</div>
								</section>

						</div>
					</div>

				<!-- Menu -->
				<div id="menu"></div>

			</div>

		<!-- Scripts -->
		<script src="javascripts/jquery.min.js"></script>
		<script src="javascripts/browser.min.js"></script>
		<script src="javascripts/breakpoints.min.js"></script>
		<script src="javascripts/util.js"></script>
		<script src="javascripts/main.js"></script>

	</body>
</html>