<header class="major">
    <h2>Menu</h2>
</header>
<ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/generic">Reservation</a></li>
    <li><a href="/elements">Review</a></li>
    <li>
        <span class="opener">Submenu</span>
        <ul>
            <li><a href="#">Lorem Dolor</a></li>
            <li><a href="#">Ipsum Adipiscing</a></li>
            <li><a href="#">Tempus Magna</a></li>
            <li><a href="#">Feugiat Veroeros</a></li>
        </ul>
    </li>
    <li>
        <span class="opener">Another Submenu</span>
        <ul>
            <li><a href="#">Lorem Dolor</a></li>
            <li><a href="#">Ipsum Adipiscing</a></li>
            <li><a href="#">Tempus Magna</a></li>
            <li><a href="#">Feugiat Veroeros</a></li>
        </ul>
    </li>
    <li><a href="#">Maximus Erat</a></li>
</ul>