<!DOCTYPE HTML>
<html>
<head>
    <title>네일 올래?</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="shortcut icon" href="images/nailollae.png"/>
    <!--menu 불러오기-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu").load("/common/menu");
        })

        $(document).ready(function () {
            $("#commonHeader").load("/common/header");
        })
    </script>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <div id="commonHeader"></div>
            <!-- Content -->
            <section>
                <header class="main">
                    <h1>Review</h1>
                </header>

                <!-- Content -->
                <h2 id="content">후기 작성 페이지</h2>
                <p><b>네일올래?</b>를 방문해 주신 고객님들의 소중한 후기를 작성해 주시면 됩니다. <br/>
                    <u>좋아요와 댓글</u>이 많은 후기를 작성해 주시면, 이달의 후기를 선정하여 소정의 적립금을 선물로 드립니다!🎁</p>
                <hr class="major" />

                <a href="#" class="button primary" style="float: right">작성하기</a>

                <br/><br/><br/>

                <!-- Elements -->
                <div class="row gtr-200">
                    <div class="col-12 col-12-medium">
                        <!-- Table -->
                        <h4>Review</h4>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr>
                                    <th>제목</th>
                                    <th>내용</th>
                                    <th>작성자</th>
                                    <th>날짜</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Item1</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>29.99</td>
                                    <td>2020/12/11</td>
                                </tr>
                                <tr>
                                    <td>Item2</td>
                                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                    <td>19.99</td>
                                    <td>2020/12/11</td>
                                </tr>
                                <tr>
                                    <td>Item3</td>
                                    <td> Morbi faucibus arcu accumsan lorem.</td>
                                    <td>29.99</td>
                                    <td>2020/12/11</td>
                                </tr>
                                <tr>
                                    <td>Item4</td>
                                    <td>Vitae integer tempus condimentum.</td>
                                    <td>19.99</td>
                                    <td>2020/12/11</td>
                                </tr>
                                <tr>
                                    <td>Item5</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>29.99</td>
                                    <td>2020/12/11</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <ul class="pagination">
                            <li><span class="button disabled">Prev</span></li>
                            <li><a href="#" class="page active">1</a></li>
                            <li><a href="#" class="page">2</a></li>
                            <li><a href="#" class="page">3</a></li>
                            <li><span>&hellip;</span></li>
                            <li><a href="#" class="page">8</a></li>
                            <li><a href="#" class="page">9</a></li>
                            <li><a href="#" class="page">10</a></li>
                            <li><a href="#" class="button">Next</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-12-medium">

                        <!-- Form -->
                        <h3>Form</h3>
                        <form method="post" action="#">
                            <div class="row gtr-uniform">
                                <div class="col-6 col-12-xsmall">
                                    <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
                                </div>
                                <!-- Break -->
                                <div class="col-12">
                                    <select name="demo-category" id="demo-category">
                                        <option value="">- Category -</option>
                                        <option value="1">Manufacturing</option>
                                        <option value="1">Shipping</option>
                                        <option value="1">Administration</option>
                                        <option value="1">Human Resources</option>
                                    </select>
                                </div>
                                <!-- Break -->
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                                    <label for="demo-priority-low">Low</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="demo-priority-normal" name="demo-priority">
                                    <label for="demo-priority-normal">Normal</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="demo-priority-high" name="demo-priority">
                                    <label for="demo-priority-high">High</label>
                                </div>
                                <!-- Break -->
                                <div class="col-6 col-12-small">
                                    <input type="checkbox" id="demo-copy" name="demo-copy">
                                    <label for="demo-copy">Email me a copy</label>
                                </div>
                                <div class="col-6 col-12-small">
                                    <input type="checkbox" id="demo-human" name="demo-human" checked>
                                    <label for="demo-human">I am a human</label>
                                </div>
                                <!-- Break -->
                                <div class="col-12">
                                    <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                                </div>
                                <!-- Break -->
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" class="primary" /></li>
                                        <li><input type="reset" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>


                        <!-- Box -->
                        <h3>Box</h3>
                        <div class="box">
                            <p>Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Magna sed etiam ante ipsum primis in faucibus vestibulum.</p>
                        </div>

                        <!-- Preformatted Code -->
                        <h3>Preformatted</h3>
                        <pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';
</code></pre>

                    </div>
                </div>

            </section>

        </div>
    </div>

    <!-- Menu -->
    <div id="menu"></div>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>