<div class="content">
    <header>
        <h1>안녕 하세요!<br />
            네일 올래? 입니다.</h1>
        <p>이달의 네일아트 사진 입니다.</p>
    </header>
    <p>예약을 원하시는 분들은 아래 예약 하기 버튼을 눌러서 예약을 진행해 주세요. <br />
    <h4>List</h4>
    <li>기본 젤 네일 &emsp;&emsp; 20,000원</li>
    <li>이달의 아트 &emsp;&emsp;&nbsp; 40,000원</li>
    <li>젤 패디 &emsp;&emsp;&emsp;&emsp; 40,000원</li>
    <li>속눈썹 펌 &emsp;&emsp;&emsp; 30,000원</li>
    </p>
    <ul class="actions">
        <li><a href="/reservation" class="button big">예약하기</a></li>
    </ul>
</div>
<span class="image object">
    <img src="images/art.png" alt="" />
</span>
