<!DOCTYPE HTML>
<html>
<head>
    <title>네일 올래?</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="shortcut icon" href="images/nailollae.png"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--menu 불러오기-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu").load("/common/menu");
        })

        $(document).ready(function () {
            $("#commonHeader").load("/common/header");
        })

        // 적립금 현황
        $(document).ready(() => {
            $.ajax({
                url: "http://localhost:3000/mypage/balance",
                method: "GET",
                success: (response) => {
                    console.log("res:", response.data);
                    if(response.data.length > 0){
                        for(let index=0; index < response.data.length; index++){
                            let newRow = $("<tr onclick=test()>");
                            let cols = "";
                            cols += '<td>' + response.data[index].id + '</td>';
                            cols += '<td>' + response.data[index].category + '</td>';
                            cols += '<td>' + response.data[index].reserveDate.split('T')[0] + '</td>';
                            cols += '<td>' + response.data[index].amount + '</td>';
                            cols += '<td>' + response.data[index].balance + '</td>';
                            newRow.append(cols);
                            $("#balanceList .balanceData").append(newRow);
                        }
                    }else if(response.data.length === 0){
                        let newRow = $("<tr onclick=test(1)>");
                        let cols = "";
                        cols += '<td> </td>';
                        cols += '<td> </td>';
                        cols += '<td>적립금 사용 내역이 없습니다.</td>';
                        cols += '<td> </td>';
                        cols += '<td> </td>';
                        newRow.append(cols);
                        $("#balanceList .balanceData").append(newRow);
                    }
                }
            })
        })

        // 적립금 현황
        $(document).ready(() => {
            $.ajax({
                url: "http://localhost:3000/mypage/reservation",
                method: "GET",
                success: (response) => {
                    console.log("res:", response.data);
                    if(response.data.length > 0){
                        for(let index=0; index < response.data.length; index++){
                            let newRow = $("<tr onclick=test()>");
                            let cols = "";
                            cols += '<td>' + response.data[index].id + '</td>';
                            cols += '<td>' + response.data[index].category + '</td>';
                            cols += '<td>' + response.data[index].reserveDate.split('T')[0] + '</td>';
                            cols += '<td>' + response.data[index].reserveTime + '</td>';
                            newRow.append(cols);
                            $("#reserveList .reserveData").append(newRow);
                        }
                    }else if(response.data.length === 0){
                        let newRow = $("<tr onclick=test(1)>");
                        let cols = "";
                        cols += '<td> </td>';
                        cols += '<td> </td>';
                        cols += '<td>예약 내역이 없습니다.</td>';
                        cols += '<td> </td>';
                        newRow.append(cols);
                        $("#reserveList .reserveData").append(newRow);
                    }
                }
            })
        })
    </script>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <div id="commonHeader"></div>
            <!-- Content -->
            <section>
                <header class="main">
                    <h1>My Page</h1>
                </header>

                <h2 id="content">마이 페이지</h2>
                <p><b>네일 올래?</b>를 이용해 주시는 고객님들의 마이 페이지 입니다. <br/>
                    적립금, 예약 현황을 조회 할 수 있습니다!🌹</p>
                <hr class="major" />

                <div class="row">
                    <div class="col-12 col-12-small">
                        <h4>적립금 현황</h4>
                        <ul>
                            <li>잔여 적립금: <b>0원</b></li>
                            <li>적립금 사용 현황</li>
                        </ul>

                        <table id="balanceList">
                            <thead>
                            <tr>
                                <th>순서</th>
                                <th>시술</th>
                                <th>예약일</th>
                                <th>사용 적립금</th>
                                <th>잔여 적립금</th>
                            </tr>
                            </thead>
                            <tbody class="balanceData">
                            </tbody>
                        </table>

                        <h4>예약 현황</h4>
                        <table id="reserveList">
                            <thead>
                            <tr>
                                <th>순서</th>
                                <th>시술</th>
                                <th>예약일</th>
                                <th>예약 시간</th>
                            </tr>
                            </thead>
                            <tbody class="reserveData">
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Menu -->
    <div id="menu"></div>
</div>

<!-- Scripts -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/browser.min.js"></script>
<script src="javascripts/breakpoints.min.js"></script>
<script src="javascripts/util.js"></script>
<script src="javascripts/main.js"></script>

</body>
</html>