<!DOCTYPE HTML>
<html>
<head>
    <title>네일 올래?</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="shortcut icon" href="images/nailollae.png"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--menu 불러오기-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu").load("/common/menu");
        })
    </script>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="/" class="logo"><strong>Nail</strong> Ollae?</a>
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
            </header>

            <!-- Content -->
            <section>
                <header class="main">
                    <h1>My Page</h1>
                </header>

                <!-- Content -->
                <h2 id="content">마이 페이지</h2>
                <p><b>네일 올래?</b>를 방문해 주신 고객님들의 마이 페이지 입니다. <br/>
                    적립금, 예약 현황을 조회 할 수 있습니다!🌹</p>
                <hr class="major" />

                <div class="row">
                    <div class="col-12 col-12-small">
                        <h4>적립금 현황</h4>
                        <ul>
                            <li>잔여 적립금: </li>
                            <li>적립금 사용 현황: </li>
                        </ul>

                        <h4>예약 현황</h4>
                        <ul>
                            <li>예약 현황: </li>
                            <li>적립금 사용 현황: </li>
                        </ul>
                    </div>
                </div>

                <hr class="major" />

                <!-- Elements -->
                <h2 id="elements">Elements</h2>
                <div class="row gtr-200">
                    <div class="col-6 col-12-medium">
                        <!-- Lists -->
                        <h3>Lists</h3>
                        <div class="row">
                            <div class="col-6 col-12-small">

                                <h4>Unordered</h4>
                                <ul>
                                    <li>Dolor etiam magna etiam.</li>
                                    <li>Sagittis lorem eleifend.</li>
                                    <li>Felis dolore viverra.</li>
                                </ul>

                                <h4>Alternate</h4>
                                <ul class="alt">
                                    <li>Dolor etiam magna etiam.</li>
                                    <li>Sagittis lorem eleifend.</li>
                                    <li>Felis feugiat viverra.</li>
                                </ul>

                            </div>
                            <div class="col-6 col-12-small">

                                <h4>Ordered</h4>
                                <ol>
                                    <li>Dolor etiam magna etiam.</li>
                                    <li>Etiam vel lorem sed viverra.</li>
                                    <li>Felis dolore viverra.</li>
                                    <li>Dolor etiam magna etiam.</li>
                                    <li>Etiam vel lorem sed viverra.</li>
                                    <li>Felis dolore viverra.</li>
                                </ol>
                            </div>
                        </div>
                        <h4>Definition</h4>
                        <dl>
                            <dt>Item1</dt>
                            <dd>
                                <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Lorem ipsum dolor.</p>
                            </dd>
                            <dt>Item2</dt>
                            <dd>
                                <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Lorem ipsum dolor.</p>
                            </dd>
                            <dt>Item3</dt>
                            <dd>
                                <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Lorem ipsum dolor.</p>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-6 col-12-medium">

                        <!-- Buttons -->
                        <h3>Buttons</h3>
                        <ul class="actions">
                            <li><a href="#" class="button primary">Primary</a></li>
                            <li><a href="#" class="button">Default</a></li>
                        </ul>
                        <ul class="actions">
                            <li><a href="#" class="button large">Large</a></li>
                            <li><a href="#" class="button">Default</a></li>
                            <li><a href="#" class="button small">Small</a></li>
                        </ul>
                        <ul class="actions">
                            <li><a href="#" class="button primary large">Large</a></li>
                            <li><a href="#" class="button primary">Default</a></li>
                            <li><a href="#" class="button primary small">Small</a></li>
                        </ul>
                        <ul class="actions fit">
                            <li><a href="#" class="button primary fit">Fit</a></li>
                            <li><a href="#" class="button fit">Fit</a></li>
                        </ul>
                        <ul class="actions fit small">
                            <li><a href="#" class="button primary fit small">Fit + Small</a></li>
                            <li><a href="#" class="button fit small">Fit + Small</a></li>
                        </ul>
                        <ul class="actions">
                            <li><a href="#" class="button primary icon solid fa-search">Icon</a></li>
                            <li><a href="#" class="button icon solid fa-download">Icon</a></li>
                        </ul>
                        <ul class="actions">
                            <li><span class="button primary disabled">Primary</span></li>
                            <li><span class="button disabled">Default</span></li>
                        </ul>

                    </div>
                </div>
            </section>

        </div>
    </div>

    <!-- Menu -->
    <div id="menu"></div>
</div>

<!-- Scripts -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/browser.min.js"></script>
<script src="javascripts/breakpoints.min.js"></script>
<script src="javascripts/util.js"></script>
<script src="javascripts/main.js"></script>

</body>
</html>